body {
	background: #000;
}

* {
	margin: 0;
	padding: 0;
	color: #fff;
	font: 12px normal Arial, Helvetica, sans-serif;
}

#sketcher {
	position: absolute;
	margin: 20px;
	padding: 20px;
	min-height: 300px;
	background: #eee;
	color: #44c;
	font-size: 2em;
}