body {
  background: #333;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: 24px normal Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body, #_BOARD, #_AREA {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  background: #000;
}

#_BOARD {
  position: absolute;
  border: 0.1em solid #000;
  border-radius: 1.4em;
  background: #fff;
}

h1 {
  position: absolute;
  top: 0.1em;
  left: 0.1em;
  height: 2em;
  padding: 0.1em 1em 0 0.8em;
  border: 0.02em solid #ddd;
  background: #eee;
  border-radius: 1.4em 0 1.4em 0;
  color: #999;
  font-family: Shadows Into Light;
}

#_AREA {
  position: absolute;
  z-index: 9;
}

#_CONTROLS {
  position: absolute;
  width: 15%;
  height: 100%;
  background: #f00;
}


